{% extends "base.html.twig" %}

{% block title %}Document {{ entity.titre }}{% endblock %}
{% block content %}
    <p>&larr;&nbsp;<a href="/?search={{ search }}&page={{ page }}">Retourner à la liste</a></p>
    <h2>Document Détails</h2>
    <p><strong>Titre:</strong> {{ entity.titre }}</p>
    <p><strong>Aureur:</strong> {{ entity.auteur }}</p>
    <p><strong>Langue:</strong> {{ entity.langue }}</p>
    <p><strong>Siecle:</strong> {{ entity.siecle }}</p>
{% endblock %}